// header
header{
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, #09ACF5 50%, #62DB54 50%);
    @include pad{
      left: 0;
      top: 90px;
    }
  }
}
.fixed-top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo{
  a{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/logo2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    // 文字隱藏
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    // 電腦版LOGO
    @include pad{
      width: 175px;
      height: 42px;
      background-image: url(../images/logo.svg);
    }
  }
}
// 電腦版選單
.menu{
  display: none;
  @include pad{
    display: flex;
    align-items: center;
    margin: 0 -24px;
    li{
      padding: 0 24px;
    }
  }
}
// 手機版選單
.menu-mobile{
  position: absolute;
  // 打開前隱藏
  max-height: 0px;
  transition: all .5s;
  width: 100%;
  top: 72px;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $grayBg;
  overflow: hidden;
  li{
    width: 100%;
    a{
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        color: $white;
    }
    .icon-m-size{
      width: 20px;
      height: 20px;
    }
  }
  &.open{
      max-height: 174px;
  }
}
.btn-buger{
  position: relative;
  width: 16px;
  height: 16px;
  &::before,&::after{
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #62DB54;
    transition: all .5s;
  }
  &::before{
    top: 5px;
  }
  &::after{
    bottom: 5px;
  }
  &.open{
    &::before{
        top: 50%;
        transform: rotate(-45deg);
    }
    &::after{
        top: 50%;
        transform: rotate(45deg);
    }
  }
}
// footer
.footer{
  background-color: #1A1A1A;
  padding: 24px 0;
  p{
    color: #909090;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    @include pad{
      font-size: 16px;
      line-height: 19px;
    }
  }
}
// Bootstrap 5 元件套用
// .navbar{
//   color: #62DB54;
//   &-nav{
//     margin: 0 -24px;
//   }
// }
// .nav{
//   &-item{
//     padding: 0px 24px;
//   }
//   &-link{
//     color: $white;
//     font-size: 18px;
//     line-height: 26px;
//     span{
//       width: 20px;
//       height: 20px;
//       margin-right: 6px;
//     }
//   }
// }